@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html, body {
    font-family: 'Lora', 'Times New Roman', serif;
    min-width: 100%;
}



/*
    HEADER, nav
*/
header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding-top: 10px;
    width: 100%;
}

header #burger{
    display: none;
}

/* Navbar lang menu */
.custom-popover .mud-list-padding {
    padding: 0!important;
}

.custom-popover .mud-list {
    width: 64px!important;
}

/* Navbar container */
nav.navbar {
    font-family: 'Lora', 'Times New Roman', serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

/* Links inside the navbar */
nav.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease;
}

nav.navbar a:hover{
    color: #ECC291;
}

/* The dropdown container */
.dropdown-div {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown-div .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    text-transform: uppercase;
    margin: 0; /* Important for vertical align on mobile phones */
    transition: all 0.2s ease;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown-div:hover .dropbtn {
    color: #ECC291;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    background: white;
    position: absolute;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.2s ease;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    color: #ECC291;
}

/* Show the dropdown menu on hover */
.dropdown-div:hover .dropdown-content {

}
.show{
    display: flex;
    flex-direction: column;
}
/* end - Header Navbar*/

/* FOOTER */
footer .grid-info, footer .grid-link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 10px 0;
}

footer .grid-info{
    background-color: #F7E1C7;
}

footer .grid-info img{
    height: 32px;
}

footer p{
    text-align: center;
    font-weight: bold;
    margin: 0;
}

footer div.grid-icons{
    display: flex;
    justify-content: center;
}

footer .grid-link{
    font-family: 'Lora', 'Times New Roman', serif;
}

footer ul li{
    list-style: inside;
}
/* end - footer*/

.logo{
    height: 76px;
}

@media only screen and (max-width: 768px) {  
    html, body{
        min-width:100%;
    }
    header{
        padding-bottom: 10px;
        padding-right: 10px;
    }
    
    #toolbar{
        flex: none !important;
    }

    header #burger{
        display: block;
    }

    nav.navbar {
        flex-direction: column;
        align-items: flex-start;
        display: none;

    }
    
    .dropdown-content{
        position: relative;
        box-shadow: none;
        
    }
    .dropdown-div {
        display: grid;
    }
    .navbar .dropdown-div a{
        text-align: left !important;
        margin-left: 20px;
    }
    
    .dropbtn{
        justify-content: left;
    }
    
    /* FOOTER */
    footer .grid-info img{
        height: 25px;
    }
    
    footer p{
        font-size: 15px;
    }
    
    footer div.grid-icons{
        justify-content: space-between;
    }

    footer ul li{
        list-style: none;
        margin-top: 8px;
    }
    
    footer .grid-link{
        display: flex;
        justify-content: center;
        gap: 1.5em;
    }
    
    .left{
        text-align: left;
    }
    
    .right{
        text-align: right;
    }
    
    .facultatif{
        display: none;
    }
}



h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}
