<footer>
    <div class="grid-info">
        <div>
            <MudStack Row Justify="Justify.Center">
                <img src="images/icon/security.svg" alt="security" class="opacity-75"/>
            </MudStack>
            <p>Paiement sécurisé</p>
            <p class="facultatif"> Paypal, CB, Apple Pay</p>
        </div>
        <div>
            <MudStack>
                <img src="images/icon/delivery-box.svg" alt="delivery-box" class="opacity-75"/>
            </MudStack>
            <p>
                Livraison en <br/>
                Europe
            </p>
        </div>
        <div>
            <div class="grid-icons">
                <a href="#"><img src="images/icon/facebook.svg" alt="facebook" class="opacity-75"/></a>
                <a href="#"><img src="images/icon/snapchat.svg" alt="snapchat" class="opacity-75"/></a>
                <a href="#"><img src="images/icon/instagram.svg" alt="instagram" class="opacity-75"/></a>
            </div>
            <p>
                Nous suivre
            </p>
        </div>
        
    </div>
    <div class="grid-link">
        <div class="facultatif">
            <MudLink Href="/">
                <img src="images/logo.png" alt="Maison eau d'or" class="logo"/>
            </MudLink>
        </div>
        <div class="left">
            <h3 class="facultatif">Menu</h3>
            <ul>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-perfumes"><span>Parfums</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-homes"><span>Maison</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-musks"><span>Musc Tahara Intime</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-cosmetics"><span>Cosmétiques</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-mists"><span>Brumes corps & cheveux</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-hairproducts"><span>Produits capillaire</span></MudLink></li>
            </ul>
        </div>
        <div class="right">
            <h3 class="facultatif">Besoin d'aide</h3>
            <ul>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/about"><span>À propos</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/contact"><span>Contactez-nous</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/privacy-policy"><span>Politique de confidentialité</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/cookie-policy"><span>Politique de cookies</span></MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/terms-and-conditions"><span>Conditions générales de vente</span></MudLink></li>
            </ul>
        </div>
    </div>
</footer>