<footer>
    <div class="grid-info">
        <div>
            <MudStack Row Justify="Justify.Center">
                <img src="images/icon/security.svg" alt="security" class="opacity-75"/>
            </MudStack>
            <p>Paiement sécurisé</p>
            <p class="facultatif"> Paypal, CB, Apple Pay</p>
        </div>
        <div>
            <MudStack>
                <img src="images/icon/delivery-box.svg" alt="delivery-box" class="opacity-75"/>
            </MudStack>
            <p>
                Livraison en <br/>
                Europe
            </p>
        </div>
        <div>
            <div class="grid-icons">
                <a href="#"><img src="images/icon/facebook.svg" alt="facebook" class="opacity-75"/></a>
                <a href="#"><img src="images/icon/snapchat.svg" alt="snapchat" class="opacity-75"/></a>
                <a href="#"><img src="images/icon/instagram.svg" alt="instagram" class="opacity-75"/></a>
            </div>
            <p>
                Nous suivre
            </p>
        </div>
        
    </div>
    <div class="grid-link">
        <div class="facultatif">
            <MudLink Href="/">
                <img src="images/logo.png" alt="Maison eau d'or" class="logo"/>
            </MudLink>
        </div>
        <div class="left">
            <h3 class="facultatif">Menu</h3>
            <ul>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-perfumes">Parfums</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-homes">Maison</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-musks">Musc Tahara Intime</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-cosmetics">Cosmétiques</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-mists">Brumes corps & cheveux</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/catalog-hairproducts">Produits capillaire</MudLink></li>
            </ul>
        </div>
        <div class="right">
            <h3 class="facultatif">Besoin d'aide</h3>
            <ul>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/about">À propos</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/contact">Contactez-nous</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/privacy-policy">Politique de confidentialité</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/cookie-policy">Politique de cookies</MudLink></li>
                <li><MudLink Underline="Underline.Hover" Color="Color.Dark" Href="/terms-and-conditions">Conditions générales de vente</MudLink></li>
            </ul>
        </div>
    </div>
</footer>