@page "/cookie-policy"

@inject LocalizationService Lang

<PageTitle>Maison eau d'or - Politique de cookies</PageTitle>

<MudContainer Class="my-5 mb-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h2"><b>Politique de cookies</b></MudText>
    
    <MudText Class="mt-6" Typo="Typo.caption">
        LA PRÉSENTE POLITIQUE A ÉTÉ MISE À JOUR LE 14/12/2021.
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        Lorsque vous visitez ou interagissez avec nos sites, nous ou nos prestataires de services autorisés pouvons utiliser des cookies, balises Web et autres technologies similaires pour stocker des informations qui nous permettront de vous fournir une meilleure expérience, plus rapide et plus sécurisée, ainsi qu'à des fins publicitaires.
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        La présente page est conçue pour vous aider à mieux comprendre lesdites technologies et l'utilisation que nous en faisons sur nos sites. Vous trouverez ci-après une synthèse des quelques points clés à connaître à propos de notre utilisation desdites technologies.
    </MudText>
    
    <MudText Class="mt-8" Typo="Typo.h3">
        Que sont les cookies, balises Web et technologies similaires ?
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        Comme la plupart des sites, nous utilisons des technologies qui sont des petits fichiers de données placés sur votre ordinateur, votre tablette, votre téléphone mobile ou tout autre appareil (ci-après collectivement désignés comme des « appareils ») qui nous permettent d'enregistrer un certain nombre d'informations lorsque vous visitez ou interagissez avec nos sites, services, applications, messageries et outils.
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        Les types et noms spécifiques des cookies, balises et autres technologies similaires que nous utilisons peuvent varier à tout moment. Afin de mieux comprendre la présente Politique et notre utilisation desdites technologies, nous fournissons les définitions et la terminologie limitées suivantes :
    </MudText>
    
    <MudText Class="mt-8" Typo="Typo.h4">
        Cookies
    </MudText>
    <MudText Typo="Typo.body1">
        petits fichiers texte (généralement composés de lettres et de chiffres) placés dans la mémoire de votre navigateur ou de votre appareil lorsque vous visitez un site Web ou affichez un message. Les cookies permettent à un site Web de reconnaître un appareil ou un navigateur spécifique.
    </MudText>
    
    <MudText Class="mt-8">
        Il existe différents types de cookies:
    </MudText>
    <MudText>
        <b>Les cookies de session</b> expirent à la fin de votre session de navigation et nous permettent d'associer vos actions au cours de cette session.
    </MudText>
    <MudText Class="mt-4">
        <b>Les cookies persistants</b> sont stockés sur votre appareil entre les sessions du navigateur, ce qui nous permet de conserver vos préférences ou actions sur plusieurs sites. 
    </MudText>
    <MudText Class="mt-4">
        <b>Les cookies internes</b> sont définis par le site que vous visitez.
    </MudText>
    <MudText Class="mt-4">
        <b>Les cookies tiers</b> sont définis par un site tiers, différent du site que vous visitez.
    </MudText>
    <MudText Class="mt-4">
        Les cookies peuvent être désactivés ou supprimés par des outils disponibles sur la plupart des navigateurs commerciaux. Les préférences de chaque navigateur que vous utilisez devront être définies séparément car chaque navigateur propose des fonctionnalités et options différentes.
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        Balises Web:
    </MudText>
    <MudText Typo="Typo.body1">
        petites images graphiques (également connue sous le nom de « pixels espions » ou « GIF invisibles ») qui peuvent être ajoutées sur nos sites, services, applications, messageries et outils. Elles sont généralement utilisées avec des cookies pour identifier nos utilisateurs et leur comportement.
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        Autres technologies similaires:
    </MudText>
    <MudText Typo="Typo.body1">
        technologies qui stockent des informations dans votre navigateur ou dans votre appareil à l'aide d'objets locaux partagés ou de stockage local, tels que des cookies ou témoins Flash ou HTML 5 et d'autres logiciels d'application Web. Ces technologies peuvent fonctionner sur l'ensemble de vos navigateurs. Dans certains cas, elles peuvent ne pas être entièrement gérées par les navigateurs et nécessiter une gestion directement par le biais de votre appareil ou de vos applications installées. Nous n'utilisons pas ces technologies pour stocker des informations en vue de cibler des publicités à votre intention sur ou en dehors de nos sites.
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        Nous pourrons utiliser les termes « cookies » ou « technologies similaires » de manière interchangeable dans nos politiques pour nous référer à toutes les technologies que nous sommes susceptibles d'utiliser pour stocker des données dans votre navigateur ou appareil, collecter des informations ou nous aider à vous identifier de la manière susmentionnée.
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        Les cookies utilisés sur ce site Internet
    </MudText>
    <MudText Typo="Typo.body1">
        peuvent être regroupés en trois catégories décrites ci-dessous.
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        Cookies de performance
    </MudText>
    <MudText Typo="Typo.body1">
        Ces cookies nous permettent de compter le nombre de visites et d'identifier les sources de traffic afin de mesurer et d'améliorer la performance de notre site. Ils nous aident à identifier les pages qui sont le plus populaires et celles qui le sont moins et nous permettent de voir comment les visiteurs naviguent sur le site. Toutes les informations collectées par ces cookies sont agrégées et donc anonymes. Si vous n'autorisez pas ces cookies, nous ne saurons pas quand vous avez visité notre site et nous ne pourrons pas contrôler sa performance.
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.body1">
        Vous trouverez dans le tableau ci-dessous une liste des cookies statistiques utilisés sur ce site Internet.
    </MudText>
    
    <MudSimpleTable>
        <thead>
        <tr>
            <th>NOM DES COOKIES</th> <th>DURÉE</th> <th>INTERNES OU TIERS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>_ga</td> <td>2 ans</td> <td>Les cookies tiers</td>
        </tr>
        <tr>
            <td>_gid</td> <td>24 heures</td> <td>Les cookies tiers</td>
        </tr>
        <tr>
            <td>@("_ga_<container-id>")</td> <td>2 ans</td> <td>Les cookies tiers</td>
        </tr>
        <tr>
            <td>@("_gac_gb_<container-id>")</td> <td>90 jours</td> <td>Les cookies tiers</td>
        </tr>
        </tbody>
    </MudSimpleTable>
    
    <MudText Class="mt-6" Typo="Typo.h5">
        À propos de la présente politique
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        Nous pouvons modifier ponctuellement la politique sur les cookies, en tout ou en partie, à notre discrétion. La dernière version de ce document sera toujours disponible sur notre site Internet et prendra effet à la date de sa mise à jour.
    </MudText>
    
    <MudText Class="mt-12" Typo="Typo.h3">
        Mettre à jour vos <br/>préférences
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        Vous pouvez personnaliser vos choix en ce qui concerne les cookies (sauf les cookies nécessaires) en cliquant sur le bouton « Paramètres des cookies » ci-dessous :
    </MudText>    
    <MudButton Class="my-4 rounded-0" Color="Color.Dark" Variant="Variant.Outlined">Paramètres de cookies</MudButton>
    <MudText Typo="Typo.body1">
        Pour toutes questions, veuillez contacter <MudLink Underline="Underline.Always" Color="Color.Dark" Href="/contact">Maison Eau D'or</MudLink>.
    </MudText>
    
</MudContainer>

@code {
    protected override void OnInitialized()
    {
        Lang.LanguageChanged += InvokeStateChanged;
    }

    private async Task InvokeStateChanged(string lang) => await InvokeAsync(StateHasChanged);
}